html,
body {
height: 100%;
  padding: 0;
  margin: 0;
}
button{
    background-color: black;
    color: white;
}
.images{
    display:flex;
}
#resource_div{
   background-color:#dbdbdb ;
   width: 50%;
   height: 500px;
   float: left;
   overflow: scroll;

}
#action_div{
    background-color:#b0b0b0 ;
    width: 50%;
    height: 500px;
    float: right;
    overflow: scroll;
}
#inventory_div{
    background-color:#b0b0b0 ;
    width: 50%;
    height: 500px;
    float: left;
    display: block;
    overflow: scroll;
}
#crafting_div{
    background-color:#b0b0b0 ;
    width: 50%;
    float: left;
    height: 500px;
    overflow: scroll;
}
#equipment_div{
    background-color:#b0b0b0 ;
    width: 50%;
    float: left;
    height: 500px;
    overflow: scroll;
}
#combat_div{
    background-color:#b0b0b0 ;
    width: 50%;
    float: left;
    height: 500px;
}
#enemy_div{
    text-align: center;
}
.title{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}
  